[submodule "Modules/foleys_gui_magic"]
	path = Modules/foleys_gui_magic
	url = https://github.com/ffAudio/foleys_gui_magic.git
[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
